# LLM Apis
#OPENAI_API_KEY=sk-1234567890abcdef1234567890abcdef
#GEMINI_API_KEY=1234567890abcdef1234567890abcdef
#MISTRAL_API_KEY=1234567890abcdef1234567890abcdef

#OLLAMA_HOST="http://ollama:11434"
#OLLAMA_MODEL="deepseek-r1:8b"

# Enable Requests cache when running from cli. Depends on the requests-cache package being installed.
#REQUESTS_CACHE=True

# Enable debug mode - this will print out debug information to the console
#DEBUG=True

# Disable 3rd party telemetry
HAYSTACK_TELEMETRY_ENABLED=False
ANONYMIZED_TELEMETRY=False
